apiVersion: apps/v1
kind: Deployment
metadata:
  name: backdemo-deployment
#  labels:
#    app: backdemo
spec:
  replicas: 3  # 运行3个pod 每个pod运行后生成一个endpoint
  selector:
    matchLabels:
      app: backdemo
      tier: backend
  template:
    metadata:
      labels:
        app: backdemo
        tier: backend
    spec:
      containers:
      - name: backdemo
        image: 192.168.50.73:3000/backdemo:v1.0.2
        imagePullPolicy: IfNotPresent
        ports:
        - containerPort: 6000  # 需要暴露的IP
