# The identifier Backend is internal to nginx, and used to name this specific upstream
upstream Backend {
    # backdemo-service.name 里面的name
    server backdemo-service;
}

server {
    listen 80;

    location / {
        # The following statement will proxy traffic to the upstream named Backend
        proxy_pass http://Backend;
    }
}